@import ./vars

.header
	background-color: $background
	display: flex
	justify-content: space-between
	padding: $padding

.profile-icon
	height: 30px
	filter: $white-filter
	align-self: center

.main-content
	height: 100vh
	width: 100vw
	display: flex
	flex-direction: column

.tile-list
	display: flex
	flex-direction: column
	gap: $padding

.tile
	background-color: $container-background
	border-radius: $border-radius
	border: 1px solid $border-color
	padding: $padding
	display: flex
	gap: $padding

	&:hover
		cursor: pointer

.tile-content
	flex-direction: column

.location-modal
	position: absolute

.list-header
	display: flex
	justify-content: space-between
	gap: $padding
	margin-bottom: $padding

.search
	background-color: $background
	border: 1px solid $border-color
	flex-grow: 1
	border-radius: $border-radius
	color: white
	padding: calc($padding / 2)

.filter
	height: 24px
	width: auto
	align-self: center
	filter: $white-filter
