$ourgrey: #715F58

.unfilled_tag 
  border-radius: 25px
  border: 1px solid white
  height: 5px 
  padding: 3px 15px 15px 15px


.filled_tag 
  border-radius: 25px
  border: 0.2px solid white
  background: $ourgrey
  padding: 3px 15px 15px 15px
  height: 5px 


.tags
  display: flex
  margin: 0px
  flex-wrap: wrap
  gap: 12px
  background: clear
  padding: 5px 0px 5px 0px
  margin: 0px


.stars
  display: flex
  margin: 0px
  flex-wrap: wrap
  gap: 12px
  background: white
  padding: 0

.tags
  li
    list-style: none
  .right 
    color: blue

.star
  width: 2%
  height: 2%

